@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('/Inter-Medium.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  border: 0;
  background: transparent;
}

button {
  cursor: pointer;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
